#case-search {
  #search-results {
    #search-dates {
      position: relative;
      border: dotted #999 1px;
      padding: 8px;
      float: left;
      margin-bottom: 20px;

      #search-dates-label {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -0.9em;
        background: white;
        padding: 2px 4px;
        color: black;
      }

      .search-date {
        display: inline-block;
        width: 200px;
        margin-right: 20px;
        vertical-align: bottom;
      }
    }

    table {
      margin-bottom: 0;
      font-size: 14px;
    }
  }
}
