#search-progress {
  .nav.icon li .glyphicon {
    font-size:40px;
    border: solid #2e6da4 5px;
    padding: 10px;
    border-radius: 50%;
    background-color:white;
  }
  .nav.icon li.inactive .glyphicon {
    border-color: #999;
    color: #999;
  }

  .nav-justified.nav.icon li a:hover {
    background-color:transparent;
  }

  .nav > li > a:hover,
  .nav > li > a:focus {
    background:transparent;
  }

  .nav.icon li {
    position:relative;
    background-image:url('../images/blueline.png');
    background-position:50% 45%;
    background-repeat: repeat-x
  }

  .nav.icon li.inactive {
    position:relative;
    background-image:url('../images/greyline.png');
    background-position:50% 45%;
    background-repeat: repeat-x
  }

  .nav.icon li.active {
    background-image:url('../images/greyline.png');
  }

  .nav.icon li.active .glyphicon {
    background-color:#2e6da4;
    color:white;
  }

  .nav.icon li.inactive a {
    color:#999;
  }

  .nav.icon li.active .blue-line {
    position:absolute;
    height:100%;
    width:50%;
    background-color:white;
    background-image:url('../images/blueline.png');
    background-position:50% 45%;
    background-repeat: repeat-x
  }

  .white-out {
    position:absolute;
    height:100%;
    width:50%;
    background-color:white;
  }

  .white-out.white-out-right {
    left:50%;
  }
}

