<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="https://www2.gov.bc.ca">
        <img class="img-fluid d-none d-md-block" src="/assets/bcgov/bcid-logo-rev-en.svg" width="181" height="44" alt="B.C. Government Logo">
        <img class="img-fluid d-md-none" src="/assets/bcgov/bcid-symbol-rev.svg" width="64" height="44" alt="B.C. Government Logo">
      </a>
      <div class="navbar-brand">
        CSB Audio
      </div>
      <div>
        <div class="navbar-nav" *ngIf="isLoggedIn">
          <a class="nav-item nav-link" (click)="logout()">Leave App</a>
        </div>
      </div>
    </div>
  </nav>
</header>
