#top-nav {
  z-index: 1000;

  & > .container {
    position: relative;
  }

  #working-indicator {
    position: absolute;
    top: 100%;
    right: 15px;
    background-color: #2e6da4;
    border-radius: 3px;
    font-size: 13px;
    color: white;
    padding: 1px 6px;
    margin-top: -8px;
    white-space: nowrap;

    .spinner {
      border-color: white;
      width: 11px;
      height: 11px;
    }
  }

  #error-indicator {
    position: absolute;
    top: 100%;
    right: 15px;
    background-color: #B72B2B;
    font-size: 13px;
    color: white;
    margin-top: -8px;

    span {
      margin-left: 5px;
    }
  }

  #navbar-current-user {
    position: relative;

    a {
      cursor: default;
    }

    #current-user-properties {
      position: absolute;
      bottom: 0;
      right: 0;
      color: #999;
      padding: 3px 20px;
      font-size: 90%;
      white-space: nowrap;
      line-height: 1.2;
    }
  }
}
