@import "../../../../node_modules/@bcgov/bootstrap-theme/dist/scss/common";

.a2a-splash {
  background: url("/assets/a2a/A2A.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;
  min-height: 900px;
}

.user-info {
    padding: 10px;
}
