body {
  background: url("../images/A2A.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;
}

#user-info {
  float: right;
  margin-right: 95px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-style: italic;
  font-weight: bold;
}

.logout {
  cursor: pointer;
  margin-top: -37px;
  margin-right: 5px;
  position: absolute;
  right: 0;
  padding-right: 10px;
  display: block;
}

.header {
  height: 52px;
  width: 100%;
  margin: -7px 0px 0px 0px;
  background: #f8f8f8;
  border-bottom: solid 1px #e7e7e7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: #777777;
}

.header-menu {
  background: url("../images/header-menu.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: left;
  height: inherit;
  width: inherit;
}

.header-info {
  float: right;
  margin-top: -37px;
  display: block;
}